[submodule "submodules/unmarried-taxes"]
	path = submodules/unmarried-taxes
	url = https://github.com/itsdrewmiller/unmarried-taxes.git
[submodule "submodules/caucus-calculator"]
	path = submodules/caucus-calculator
	url = https://github.com/itsdrewmiller/caucus-calculator.git
