language: node_js
node_js:
- '0.10'
before_install:
- git submodule update --init --recursive
script:
- npm start
deploy:
  provider: heroku
  api_key:
    secure: HIfn2fG3wMzY9dfarwXSKVGW0y+duhLEgVwT3LQlA13JvmjsdEGI0nf2tjeJdTdtXDK9BhMFHZxB4kZTlXhfwOn1m65At4IjAWduKlxqTt30LC9QzzpEZ6Sa6DSao/7YGedfi/TZAIypYhksEmP1Y4XZXPKITsWx/yOeKUgRXU4=
  app: drewmiller-net
  on:
    repo: itsdrewmiller/drewmiller.net
