language: node_js
node_js:
  - '0.10'
before_install:
  - npm install -g grunt-cli
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb -ac start
  - ./node_modules/protractor/bin/webdriver-manager update
  - ./node_modules/protractor/bin/webdriver-manager start &
  - sleep 8
deploy:
  provider: heroku
  api_key:
    secure: OBmxoLT9Ue5iIyKBqV2Z7wl44C/vKIqXg/6f+2iKvKnB+qZvVgPa60vObvVSdM2gFnkbaXeoC98BXdypf7j6v1217uig5nZbbmPUJPVqFHIpYBwTDGlhkQpPpwvISeb7QKf8TH4ZHFuE7cJr+0OcDhXY8Ez9v95rxiysvkz/wsQ=
  app: drewmiller-net
  on:
    repo: itsdrewmiller/drewmiller.net
