language: node_js
node_js:
  - '0.10'

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g protractor supervisor grunt-cli
  - sleep 1 # give server time to start

script:
  - webdriver-manager update
  - webdriver-manager start &
  - sleep 5
  - protractor config/spec-e2e.js

deploy:
  provider: heroku
  api_key:
    secure: OBmxoLT9Ue5iIyKBqV2Z7wl44C/vKIqXg/6f+2iKvKnB+qZvVgPa60vObvVSdM2gFnkbaXeoC98BXdypf7j6v1217uig5nZbbmPUJPVqFHIpYBwTDGlhkQpPpwvISeb7QKf8TH4ZHFuE7cJr+0OcDhXY8Ez9v95rxiysvkz/wsQ=
  app: drewmiller-net
  on:
    repo: itsdrewmiller/drewmiller.net
