<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>drewmiller.net</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body ng-app="djm">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" data-target="#navbar-collapse-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">drewmiller.net</a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse" id="navbar-collapse-main">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a id="about-link" ui-sref="about" ng-click="collapse()">About Drew</a></li>
            <li ui-sref-active="active"><a id="projects-link" ui-sref="projects" ng-click="collapse()">Projects</a></li>
            <li ui-sref-active="active"><a id="blog-link" ui-sref="blog" ng-click="collapse()">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div ui-view autoscroll="false"></div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-google-analytics/src/angular-google-analytics.js"></script>
    <script src="/bower_components/bucky/bucky.min.js" data-bucky-host="/bucky" data-bucky-page data-bucky-requests></script>
    <script src="/bower_components/boomerang/boomerang.js"></script>
    <script src="/bower_components/boomerang/plugins/rt.js"></script>
    <script src="/js/app.js"></script>
    <script>
      BOOMR.init({
        beacon_url: "/boomerang"
      });
    </script>
  </body>
</html>