<div class="container">
	<p><strong>Drew Miller</strong>.  Some might call him a leader.  Others would call him a <em>hero</em>.  He dedicates 8, sometimes even 9 hours a day to progressive causes, helping Democrats, labor unions, and non-profits keep tabs on their data and run successful campaigns.  All he asks in return is a competitive salary in a high cost-of-living area, a really fast computer, free snacks and beer, and completely free health care.  Would it be worth mentioning that NGP VAN <a href="http://ngpvan.com/jobs">is hiring</a>?

	<p>You can tell more from the projects page, but here's a list of things I am currently pretty interested in.

	<ul>
		<li><a href="http://angularjs.org">angular</a></li>
		<li><a href="http://nodejs.org">node</a></li>
		<li><a href="http://elasticsearch.org">Elasticsearch</a></li>
	</ul>

	<p>I guess that is kind of a short list.  I'm mostly exploring the toolsets and systems that work well with node right now - Heroku, Grunt, Travis CI, etc.  I'm also solid at ASP.NET in both VB and C# flavors, and even programmed a fair amount of PHP back in the day.

</div>