<div class="container">
	<p>Welcome to the home page of <a ui-sref="about">Drew Miller</a>.  Home pages seem like kind of a lost art in this day of twitter and github and medium.  The nice thing about home pages, though, is that you can do pretty much whatever you want with them.  So with this one I am:

	<ul>
		<li>Writing the front end in AngularJS</li>
		<li>Writing the back end in node.js</li>
		<li>Storing data in Elasticsearch</li>
		<li>Tracking client side performance using Bucky and Boomerang</li>
		<li>Styling with Bootstrap (try it on your phone!)</li>
		<li>Hosting on Heroku</li>
		<li>Preprocessing with Grunt</li>
		<li>Testing end to end with Protractor</li>
		<li>Continuously Deploying with Travis CI</li>
	</ul>

	<p>In my day job I get very little time to program, so this site is an outlet to mess around with the most interesting (to me) things going on in web programming.
</div>