<div class="container">
	<p>The following is a more or less complete list of my publicly-available projects that might be of interest to anyone.

	<dl>
		<dt>unmarried-taxes <a href="https://github.com/itsdrewmiller/unmarried-taxes"><i class="fa fa-github"></i></a><dt>
		<dd>This is a tool that allows an unmarried couple with relatively fungible finances to compare and manually optimize their expenses across each return, as well as view how much money they would save or (more likely) lose by doing their taxes as married filing jointly.  It only supports a small subset of the tax code - things that mattered to me, basically.  I made this as a project to explore angular as a framework, so don't look to it as a shining example of perfect code in that respect.</dd>
		<dt>mortgage-comparer <a href="https://github.com/itsdrewmiller/mortgage-comparer"><i class="fa fa-github"></i></a></dt>
		<dd></dd>
		<dt>branchAndBound.js <a href="https://github.com/itsdrewmiller/branchAndBound.js"><i class="fa fa-github"></i></a></dt>
		<dd></dd>
		<dt>angular-perfect-scrollbar <a href="https://github.com/itsdrewmiller/angular-perfect-scrollbar"><i class="fa fa-github"></i></a></dt>
		<dd></dd>
		<dt>irv-cascade <a href="https://github.com/itsdrewmiller/irv-cascade"><i class="fa fa-github"></i></a></dt>
		<dd></dd>
		<dt>hacktive-directathon <a href="https://github.com/itsdrewmiller/hacktive-directathon"><i class="fa fa-github"></i></a></dt>
		<dd></dd>
	</dl>

</div>